alabaster==0.7.12
apt-clone==0.2.1
apturl==0.5.2
Babel==2.8.0
beautifulsoup4==4.6.0
Brlapi==0.6.6
catfish==1.4.4
certifi==2018.1.18
chardet==3.0.4
click==7.1.1
colorama==0.4.3
command-not-found==0.3
config==0.5.0.post0
configobj==5.0.6
cupshelpers==1.0
defer==1.0.6
docopt==0.6.2
docutils==0.16
httplib2==0.18.0
idna==2.6
imagesize==1.2.0
Jinja2==2.11.2
louis==3.5.0
Mako==1.0.7
MarkupSafe==1.0
menulibre==2.2.0
mugshot==0.4.0
netifaces==0.10.4
onboard==1.4.1
packaging==20.3
pb-tool==3.1.0
pexpect==4.2.1
Pillow==5.1.0
protonvpn-cli==2.2.2
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
Pygments==2.6.1
pygobject==3.26.1
PyICU==1.9.8
pyparsing==2.4.7
pyTelegramBotAPI==3.6.7
python-apt==1.6.5+ubuntu0.2
python-debian==0.1.32
python-xapp==1.6.0
pythondialog==3.5.1
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.7.0
requests-unixsocket==0.1.5
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.11.0
snowballstemmer==2.0.0
Sphinx==3.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
system-service==0.3
systemd-python==234
telebot==0.0.3
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.22
virtualenv==15.1.0
xkit==0.0.0
